.presentation {
  .left-column, .right-column {
    padding-top: 0;
  }
  .left-column {
    padding-right: 0;
  }
  .right-column {
    padding-left: 0;
  }
  .custom-hero {
    padding-top: 9rem;
    height: 30rem;
  }
}
