.home {
  .col {
    margin-top: 12px;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  .col-blue {
    background-color: #2979ff;
  }
  .col-pink {
    background-color: #f50057;
  }
  .col-yellow {
    background-color: #ffd600;
  }
  .col-green {
    background-color: #00c853;
  }
}
